<% content_for :page_title, 'Главная страница' %>

<%= render 'articles/grid' do %>
  <%= render ArticleComponent.new do %>
    <%= render Article::SpeakerComponent.new(name: "My Name", github: "ineedjet") do %>
      Как организовать Development process и не офигеть
    <% end %>
    <%= render Article::BlockquoteComponent.new(name: "My Name") do %>
      <p>This is Article::BlockquoteComponent</p>
    <% end %>

    <%= render Article::TerminalComponent.new('
ineedjet@shae ~/P/r/rubycats> git pull
Updating 5329963..1f2f189
Fast-forward
app/assets/stylesheets/tabler.css                | 19172 ----------------------------------------------------------------------------------------------
app/assets/stylesheets/tabler.min.css            |    13 +
app/components/article/back_forward_component.rb |    27 +
app/components/article/blockquote_component.rb   |    10 +
app/components/article/speaker_component.rb      |    45 +
app/components/article_component.rb              |     2 +-
app/views/articles/home.html.erb                 |    13 +
7 files changed, 109 insertions(+), 19173 deletions(-)
delete mode 100644 app/assets/stylesheets/tabler.css
create mode 100644 app/assets/stylesheets/tabler.min.css
create mode 100644 app/components/article/back_forward_component.rb
create mode 100644 app/components/article/blockquote_component.rb
create mode 100644 app/components/article/speaker_component.rb
ineedjet@shae ~/P/r/rubycats> git pull
Updating 5329963..1f2f189
Fast-forward
app/assets/stylesheets/tabler.css                | 19172 ----------------------------------------------------------------------------------------------
app/assets/stylesheets/tabler.min.css            |    13 +
app/components/article/back_forward_component.rb |    27 +
app/components/article/blockquote_component.rb   |    10 +
app/components/article/speaker_component.rb      |    45 +
app/components/article_component.rb              |     2 +-
app/views/articles/home.html.erb                 |    13 +
7 files changed, 109 insertions(+), 19173 deletions(-)
delete mode 100644 app/assets/stylesheets/tabler.css
create mode 100644 app/assets/stylesheets/tabler.min.css
create mode 100644 app/components/article/back_forward_component.rb
create mode 100644 app/components/article/blockquote_component.rb
create mode 100644 app/components/article/speaker_component.rb
    ') %>


    <%= render Article::CodeComponent.new('
<div class="language-plaintext highlighter-rouge">
  <div class="highlight">
    <pre class="highlight"><code>
      erb_template <<~ERB
      // Some comments
      <p>line 1 of code<p>
      line 2 of code
      line 3 of code
      ERB
    </code></pre>
  </div>
</div>
    ') %>

    <p>This is a legal agreement between you, the Purchaser, and Tabler. Purchasing or downloading of any Tabler product (Tabler Free, Tabler PRO, Tabler Email), constitutes your acceptance of the terms of this license, <a href="https://tabler.io/terms-of-service.html">Tabler terms of service</a> and <a href="https://tabler.io/privacy-policy.html">Tabler private policy</a>.</p>
    <p>A license grants you a non-exclusive and non-transferable right to use and incorporate the item in your personal or commercial projects.</p>
    <h3 id="tabler-free-license">Tabler Free License</h3>
    <p>Tabler Free is available under MIT License</p>
    <p>Copyright 2023 Tabler</p>
    <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
    <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
    <p>THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
    <h3 id="tabler-pro-and-tabler-email-license">Tabler PRO and Tabler Email License</h3>
    <p>After Purchasing you are granted the use products under the conditions featured belowed.</p>
    <p>Rights</p>
    <ol>
      <li>You have rights to use our resources for any or all of your personal and commercial projects.</li>
      <li>You may modify the resources according to your requirements.</li>
      <li>You are not required to attribute or link to Tabler in any of your projects.</li>
    </ol>
    <p>Restrictions</p>
    <ol>
      <li>You do not have the rights to redistribute, resell, lease, license, sub-license or offer the file downloaded to any third party.</li>
      <li>For any resalable web applications or software programs, you cannot include our graphic resources as an additional attachment.</li>
      <li>You cannot redistribute any of the software, or products created with Tabler paid  products.</li>
      <li>You cannot add our source code to any open source repository.</li>
      <li>The source code may not be placed on any website in a complete or archived downloadable format.</li>
    </ol>
  <% end %>

  <%= render Article::BackForwardComponent.new(
    back_name: "Главная страница",
    back_url: root_path,
    forward_name: "Последняя страница",
    forward_url: root_path
  ) %>
<% end %>
