<% content_for :page_title, 'Главная страница' %>

<%= render 'pages/grid' do %>
  <%= render PageComponent.new(page: @page, user: current_user) do %>
    <%= render Page::SpeakerComponent.new(name: "My Name", github: "ineedjet") do %>
      <h3>Блог RubyCats - что это и зачем</h3>
    <% end %>
    <h3>Что значит Thinknetica-contrib?</h3>
    <p>
      Хелло! Меня зовут Юра, я веду курс Продвинутый Rails в онлайн-школе <a href="https://thinknetica.com">Thinknetica</a>.
    </p>
    <p>
      Курс этот замечательный, однако изрядная часть повторяющихся вопросов студентов выходит за его рамки.
      Это вопросы про настройку окружения, работу с администрированием баз данных, управлением версиями библиотек,
      мотивацию, перспективы руби и веб-разработки. Этот блог - возможность ответить на
      эти вопросы не отягощая при этом сам курс, и это основная цель данного блога.
    </p>
    <p>
      Второе большое направление - подготовка материалов перед добавлением их в курс, то что Rails делает на
      <a href="https://edgeguides.rubyonrails.org/">edgeguides.rubyonrails.org</a>.
      Здесь можно увидеть, каким курс может оказаться завтра. Этот блог - open source, если вы прошли курс
      и хотите поделиться своим опытом - смело открывайте Pull Request в любую из статей на сайте.
    </p>
    <h3>Как сюда контрибьютить?</h3>
    <p>
      Для облегчения ревью изменений, материалы блога организованы в виде .erb файлов в каталоге <a href="https://github.com/rubycats-com/rubycats/tree/main/app/views/pages">pages</a>.
      Если вы хотите внести изменения - доступны две опции:
    </p>
    <ul>
      <li>
        Используйте стандартные инструменты GitHub:
        <a href="https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork">Pull request from fork</a>
      </li>
      <li>Напишите мне в телегу <a target="_blank" href="tg://resolve?domain=ineedjet">@ineedjet</a>, я добавлю вас в оригинальный реп в роли разработчика</li>
    </ul>
    </p>
    <h3>Что сюда контрибьютить?</h3>
    <p>
      Приветствуются материалы о выполнении заданий курса на Rails 7 и Ruby 3.2.2, использовании новых версий библиотек,
      использовании Hotwire/Turbo/Stimulus/Strada, настройке окружения итд. Подумайте, в каком месте курса у вас возникли самые
      длительные затруднения, напишите об этом статью или обозначьте тему в чате.
    </p>
    <p>
    <ul>
      <li>Редакционный план можно увидеть в левом меню в виде заголовков статей</li>
      <li>Техничку для работы блога можно найти в <a href="https://github.com/rubycats-com/rubycats/issues">issues</a> на Гитхабе</li>
    </ul>
    </p>
    <h3>Как синковаться и координироваться?</h3>
    <p>
      Обсудить материалы блога можно в канале <a href="https://t.me/+M2LxzZvQoqozNWJi">Курс Ruby On Rails / Thinknetica</a>, заходите.
    </p>
    <div class="text-center mt-6">
      <%= image_tag "rails_welcome.png", width: "60%" %>
    </div>

  <% end %>

  <%= render Page::BackForwardComponent.new(
    back_name: "Главная страница",
    back_url: root_path,
    forward_name: "Последняя страница",
    forward_url: root_path
  ) %>
<% end %>
