<!DOCTYPE html>
<html>
  <head>
    <title>Rubycats - <%= yield(:page_title) %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="page">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= render "shared/header" %>
      <div class="page-wrapper">
        <%= render "shared/title" %>
        <div class="page-body">
          <div class="container-xl">
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
